*.dll
*.config
*.map
*.exe
*.ps1
*.nupkg
*.pdb
*.xdt
*.cache
*.csproj
Debug/
node_modules/
v14/
ExpParser.csproj.user
ExpParser/ExpParser/Scripts/app/dist/app.js
ExpParser/ExpParser/obj/Debug/
ExpParser/ExpParser/Scripts/app/dist/app.js